<ion-view title="{{item.product.name}}">
    <ion-content class="has-header">
        <ion-list>
            <ion-slide-box show-pager="true" auto-play="true" pager-click="true">
                <ion-slide ng-repeat="itemimg in item.productimage">
                    <div class="box">
                        <img ng-src="{{itemimg.image|imagepathbig}}" class="full-image">
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="row">
                <div class="col">
                    <h3 class="text-center"><span class="royal">{{item.product.price|noFractionCurrency}}</span></h3>
                    <p><strong>Description:</strong> {{item.product.description}}</p>

                    <p><strong style="float:left;">Quantity:</strong> <input type="number" ng-model="item.product.quantity2" class="numeric"> pcs</p>

                    <button class="button button-royal button-block icon-left ion-ios7-cart" ng-click="addtocart(item.product.id,item.product.name,item.product.price,item.product.quantity2)">Add to cart</button>

                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>