<ion-view title="Categories">
    <ion-content class="has-header">
        <ion-list>
           <div class="item-divider item"><span class="royal">New In</span></div>
            <ion-item href="#/tab/dash/categories/31">View All</ion-item>
            <div class="item-divider item"><span class="royal">Jewellery</span></div>
            <ion-item href="#/tab/dash/categories/1">View All</ion-item>
            <ion-item href="#/tab/dash/categories/2">Necklaces</ion-item>
            <ion-item href="#/tab/dash/categories/3">Bracelets</ion-item>
            <ion-item href="#/tab/dash/categories/4">Earrings</ion-item>
            <ion-item href="#/tab/dash/categories/5">Rings</ion-item>
            <div class="item-divider item"><span class="royal">lyla loves..</span></div>
            <ion-item href="#/tab/dash/categories/#">View All</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
